<!-- <h1 *ngIf="!isChange" mat-dialog-title>Create Element</h1>
<h1 *ngIf="isChange" mat-dialog-title>Edit Element</h1> -->
<form #alunoForm="ngForm" mat-dialog-content>
  <mat-form-field class="nome-form">
    <mat-label>Nome Aluno:</mat-label>
    <mat-error>O nome é obrigatório</mat-error>
    <input
      matInput
      [required]="true"
      [(ngModel)]="data.nome"
      name="nomeAluno"
    />
  </mat-form-field>

  <mat-form-field class="nascimento-form">
    <mat-label>Data Nascimento:</mat-label>
    <mat-error>Data de nascimento Obrigatória</mat-error>
    <input
      matInput
      [matDatepicker]="picker"
      [required]="true"
      [(ngModel)]="data.dataNascimento"
      name="nascimento"
    />
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Sexo</mat-label>
    <mat-error>É obrigatório escolher uma opção</mat-error>
    <mat-select [required]="true" [(ngModel)]="data.sexo" name="sexo">
      <mat-option value="Masculino" >Masculino</mat-option>
      <mat-option value="Feminino" >Feminino</mat-option>
      <mat-option value="Indefinido" >Indefinido</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="turma-form">
    <mat-label>Turma:</mat-label>
    <mat-error>Turma é obrigatório</mat-error>
    <input matInput [required]="true" [(ngModel)]="data.turma" name="turma" />
  </mat-form-field>

  <mat-form-field class="endereco-form">
    <mat-label>Endereço:</mat-label>
    <input
      matInput
      [required]="true"
      [(ngModel)]="data.endereco"
      name="endereco"
    />
  </mat-form-field>

  <div>
    <mat-slide-toggle [(ngModel)]="isToggledNecessidade" name="isToggledNecessidade">Possui necessidade?</mat-slide-toggle>
  </div>

  <div *ngIf="isToggledNecessidade">
    <mat-form-field class="necessidade">
      <textarea placeholder="descreva a necessidade" matInput [required]="true" [(ngModel)]="data.necessidade" name="necessidadeTexto"></textarea>
    </mat-form-field>
  </div>

  <div>
    <mat-slide-toggle [(ngModel)]="isToggledMedicacao" name="isToggledMedicacao">Toma medicação?</mat-slide-toggle>
  </div>

  <div *ngIf="isToggledMedicacao">
    <mat-form-field class="medicacao">
      <textarea placeholder="descreva a medicação e dosagem" matInput [required]="true" [(ngModel)]="data.medicacao" name="medicacao"></textarea>
    </mat-form-field>
  </div>

  <div>
    <mat-slide-toggle [(ngModel)]="isToggledAlergia" name="isToggledAlergia">Alergia?</mat-slide-toggle>
  </div>

  <div *ngIf="isToggledAlergia">
    <mat-form-field class="necessidade">
      <textarea placeholder="descreva a alergia" matInput [required]="true" [(ngModel)]="data.alergia" name="alergia"></textarea>
    </mat-form-field>
  </div>

</form>
<div mat-dialog-actions>
  <button mat-raised-button (click)="onCancel()">Cancelar</button>
  <button
    mat-raised-button
    color="primary"
    [disabled]="!alunoForm.valid"
    (click)="onSumbit()"
  >
    Salvar
  </button>
  <!-- <button mat-button *ngIf="!isChange" [mat-dialog-close]="data" cdkFocusInitial>Create</button>
  <button mat-button *ngIf="isChange" [mat-dialog-close]="data" cdkFocusInitial>Edit</button> -->
</div>
